@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.hidden {
  display: none !important;
}

.main-container {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  color: #925d3b;
  font-family: 'Noto Sans', sans-serif;
}

@media screen and (min-width: 668px) {
  .main-container {
    max-width: 850px;
  }

  h1 {
    font-size: 2.8rem;
  }

  .hero-text-wrapper {
    width: 540px;
  }

  .question-image {
    max-width: 550px;
  }
}

@media screen and (min-width: 992px) {
  .main-container {
    max-width: 1000px;
  }

  .column-half {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .question-container {
    margin: 2.5rem 0;
  }
}
