@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.hidden {
  display: none !important;
}

.main-container {
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-one-forth {
  flex-basis: 25%;
}

body {
  color: #925d3b;
  font-family: 'Noto Sans', sans-serif;
}

@media screen and (min-width: 568px) {
  header {
    margin: 0;
  }

  h1 {
    font-size: 2.8rem;
  }

  .hero-text-wrapper {
    width: 540px;
  }
}

@media screen and (min-width: 868px) {
  .main-container {
    max-width: 1400px;
  }

  .hero-text-wrapper {
    width: 640px;
  }
}
