header {
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
}

label h2,
.question-heading h2,
.next-button {
  margin: 1.2rem 0;
}

.clear-bg-button,
#favorites-button,
a {
  color: #925d3b;
}

footer > p > a,
.get-instructions-link {
  text-decoration: none;
}

h1,
.dish-description h2,
.restart-quiz-button {
  margin: 0.6rem 0;
}

p,
.restart-quiz-wrapper > h2 {
  margin: 0;
}

h1,
button,
.hero-text-wrapper > p,
.dish-description > span,
.get-instructions-link {
  font-weight: bold;
}

button {
  margin: 1.2rem 0;
  outline: none;
  border: none;
  font-size: 1.1rem;
}

.get-instructions-link,
button,
label {
  text-transform: uppercase;
}

.dark-bg-button {
  background: #925d3b;
  color: white;
  padding: 0.5rem 1.8rem;
}

.clear-bg-button,
#favorites-button {
  background: none;
}

.clear-bg-button {
  border: solid #925d3b 2px;
  padding: 0.3rem 1.8rem;
}

label {
  float: center;
  background-color: #925d3b;
  color: white;
  display: block;
  padding: 0.3rem;
}

button,
#logo,
label,
.dish-description > span > a {
  cursor: pointer;
}

#logo {
  width: 100px;
  height: 100px;
}

#favorites-button {
  font-size: 2rem;
  padding: 0;
}

#favorites-button:hover {
  color: #db9264;
}

.hero-text-wrapper,
.question-details-wrapper,
.next-button,
footer,
.restart-quiz-wrapper {
  text-align: center;
}

.hero-container {
  background-image: url('/images/hero-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  position: relative;
}

.hero-container > img,
.question-image,
.next-button-wrapper,
label,
.dish-image,
.dish-description {
  width: 100%;
}

.hero-text-wrapper {
  background-color: #eee;
  opacity: 0.9;
  padding: 1rem 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: #925d3b solid 3px;
}

.hero-text-wrapper > h1 {
  font-size: 2.2rem;
}

.question-container {
  margin: 1rem 0;
}

.result-container > h1 {
  border: #925d3b solid 3px;
}

.question-details-wrapper {
  margin: 0 4rem;
}

.question-image {
  padding: 1.6rem;
}

.meal-type,
.cuisine-type {
  margin: 0.8rem 0;
}

input[type="radio"] {
  display: none;
}

.start-quiz-button:hover,
label:hover,
input[type="radio"]:checked + label {
  background-color: #db9264;
}

.next-button {
  float: right;
}

.next-button:hover,
.restart-quiz-button:hover {
  background-color: #925d3b;
  color: white;
}

.dish-image {
  padding-bottom: 0.6rem;
}

.dish-description {
  border: 2px solid #925d3b;
  padding: 2rem;
}

.dish-description-wrapper,
.dish-image-wrapper {
  padding: 0 2rem;
}

.restart-quiz-wrapper {
  margin: 2rem 0;
}

footer {
  font-size: 0.7rem;
  padding: 0.6rem 0;
}

footer > p > a:hover,
.get-instructions-link:hover {
  text-decoration: underline;
}
