header {
  display: flex;
  justify-content: space-between;
}

.favorite-button {
  color: rgb(196, 196, 196);
  font-size: 1.6rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.clear-bg-button,
.favorites-button,
a,
.favorited {
  color: #925d3b;
}

footer > p > a,
.get-instructions-link {
  text-decoration: none;
}

h1,
.restart-quiz-button {
  margin: 0.6rem 0;
}

p,
.restart-quiz-message-wrapper > h2 {
  margin: 0;
}

h1,
button,
.hero-text-wrapper > p,
.dish-description > span,
.get-instructions-link {
  font-weight: bold;
}

button {
  margin: 1.2rem 0;
  outline: none;
  border: none;
  font-size: 1.1rem;
}

.get-instructions-link,
button,
h1 {
  text-transform: uppercase;
}

.dark-bg-button {
  background: #925d3b;
  color: white;
  padding: 0.5rem 1.8rem;
}

.dark-bg-button:hover {
  background: #db7f45;
  color: white;
}

.clear-bg-button,
.favorites-button,
.favorite-button {
  background: none;
}

.clear-bg-button {
  padding: 0.3rem 1.8rem;
}

.favorites-container h1,
.clear-bg-button {
  border: solid #925d3b 2px;
}

.clear-bg-button:hover {
  background-color: #925d3b;
  color: white;
}

button,
#logo,
.dish-description > span > a,
.favorite-button {
  cursor: pointer;
}

#logo {
  width: 80px;
  height: 80px;
}

.favorites-button {
  font-size: 1.8rem;
  padding: 0;
}

.favorites-button:hover {
  color: #db7f45;
}

.hero-text-wrapper,
.question-details-wrapper,
footer,
.recommended-dish-container,
.favorites-container h1 {
  text-align: center;
}

.hero-container {
  background-image: url('/images/hero-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  position: relative;
}

.question-image,
.dish-image-wrapper,
.dish-description-wrapper {
  max-width: 600px;
}

.hero-container > img,
.question-image,
.dish-image,
.dish-description {
  width: 100%;
}

.hero-text-wrapper {
  background-color: #eee;
  opacity: 0.9;
  padding: 1rem 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: #925d3b solid 3px;
}

.hero-text-wrapper,
.favorites-container h1 {
  box-shadow: 5px 4px 9px rgba(133, 133, 133, 0.66);
}

.hero-text-wrapper > h1 {
  font-size: 2.2rem;
}

.question-container,
.dish-wrapper {
  justify-content: center;
}

.question-details-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.question-details-wrapper button {
  margin: 0.5rem 0;
}

.dish-description-wrapper {
  box-shadow: 5px 5px 15px rgba(133, 133, 133, 0.228);
  position: relative;
}

.dish-image {
  padding-bottom: 0.4rem;
}

.dish-description {
  padding: 2rem 1rem;
  text-align: left;
}

.dish-description h2 {
  margin: 0 3rem 0.6rem 0;
}

.dish-description > ul {
  list-style-type: none;
}

.favorites-container h1 {
  margin: 1rem 2rem;
}

.dish-wrapper {
  margin-bottom: 2rem;
}

footer {
  font-size: 0.7rem;
  padding: 1rem 0;
}

footer > p > a:hover,
.get-instructions-link:hover {
  text-decoration: underline;
}
